build/mme/build/
build/spgw/build/
build/hss/build/
build/log/
scripts/abort
scripts/core
openair-cn.config
openair-cn.creator
openair-cn.creator.user
openair-cn.files
openair-cn.includes
# Eclipse
.cproject
.project
workspace.xml
language.settings.xml
